html {
}

body {
  height: auto;
  /*how do I get body to not extend down so far past last image?*/
}

.page-content {
  position: relative;
  top: -151px;{}
  z-index: 1;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module h3 {
  margin-bottom: 40px;
  padding-left: 5px;
  font-family:
  font-size:
}

section.module p {
  margin-botom: 40px;
  padding-left: 5px;
  font-size: 16px;
  font-weight:
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*why is 'cover' not orange?*/
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 66px;
  /*font-weight: ;*/
  /*text-shadow: 1px 2px 0;*/
  text-align: left;
  position: absolute;
  top: 479px;
}

section.module.parallax-1 {
  background-image: url("/Images/grass.jpg");
  height: 600px;
}

section.module.parallax-2 {
  background-image: url("/Images/balloons.jpg");
}

section.module.parallax-3 {
  background-image: url("/Images/cat.jpg");
}

.footer-portfolio {
  bottom: 15px;
  position: relative;
  width: 100%;
  height: 70px;
  background-color: rgba(22, 162, 244, 0.53);
}
